
.gallery {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.element{
    height: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
    min-width: 200px;
    background-color: blueviolet;
    display: inline;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.elementExpanded{
    width: 500px;
    min-width: 500px;
}

@media only screen and (max-width: 768px) {

    .elementExpanded{
        width: 330px;
        min-width: 330px;
    }

}
